<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticias</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<table>
			<tr>
				<id>ID</id>
				<id>Titulo</id>
				<id>Noticia</id>
			</tr>

			<% for(var i = 0; i < noticias.length; i++){ %>
				<tr>
					<id><%= noticias[i].id %></id>
					<id><%= noticias[i].titulo %></id>
					<id><%= noticias[i].noticia 	%></id>
				</tr>
			<% } %>
		</table>
	</body>
</html>
