<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Noticias</h1>

		<table>
			<tr>
				<id>ID</id>
				<id>Titulo</id>
				<id>Noticia</id>
			</tr>


			<tr>
				<id><%= noticia[0].id %></id>
				<id><%= noticia[0].titulo %></id>
				<id><%= noticia[0].noticia 	%></id>
			</tr>

		</table>
	</body>
</html>
